.company {
  padding-top: 65px;
  padding-bottom: 80px;
}

.company__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
  margin-top: 55px;
}

.company__pic {
  width: 360px;
  text-align: center;
}

.company__info {
  width: ~"calc(100% - 390px)";
  
  p {
    margin-top: 0;
  }
}

blockquote {
  .reset();
  display: block;
  margin-left: 30px;
  margin-right: 100px;
  margin-top: 40px;
  padding: 30px;
  position: relative;
  z-index: 0;
  border-top: 2px solid @blue;
  border-bottom: 2px solid @blue;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
  }
  
  &::before {
    top: -40px;
    background-image: url(../img/icons/left-quote.svg);
  }
  
  &::after {
    bottom: -40px;
    background-image: url(../img/icons/quote.svg);
  }
  
  p {
    font-weight: 500;
    font-size: 20px;
  }
}

.company__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.company__text {
  width: 48%;
}

.company__img {
  width: 48%;
  min-height: 410px;
  position: relative;
  text-align: right;
  
  img:nth-child(2) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-left: 15px solid #ebeced;
    border-top: 15px solid #ebeced;
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-bottom: 15px solid #ebeced;
    border-right: 15px solid #ebeced;
  }
}
